{% use '_blocks.html.twig' %}


<!DOCTYPE HTML>

<html>
<head>

	{{ block('head_brand') }}
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/splide-min.css" />
	<link rel="stylesheet" type="text/css" href="css/splide-core-min.css" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
	{# <link rel="stylesheet" type="text/css" href="css/loader.css" /> #}
	{# <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" /> #}
	{# <link rel="stylesheet" type="text/css" href="css/owl.theme.css" /> #}
	{# <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900,400italic' rel='stylesheet' type='text/css'> #}
	{# <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'> #}
	<!--<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">-->
	{# <link href="https://fonts.googleapis.com/css?family=Poppins:400,700i,900i" rel="stylesheet"> #}
	{# <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"> #}
	{# <script src="https://www.youtube.com/iframe_api"></script> #}
	<script>var players = [];</script>

</head>
<body style="padding-top: {{ navBarOffset }};">
	{{ block('bar_brand') }}

	


	
	<aside>
		
		<nav>
			<ul>
				<li>
					<a href="#home"><h1>Covid:<br>Sortie de crise</h1></a>
				</li>
				<li>
					<a href="#article-sortiedecrise">La page #Sortiedecrise du <i>Temps</i></a>
				</li>
				<li>
					<a href="#article-hymalaya">Comme un air d'Himalaya</a>
				</li>
				<li>
					<a href="#article-aubergine">L’aubergine de la résilience</a>
				</li>
				<li>
					<a href="#article-escargots">Des escargots contre le coronavirus</a>
				</li>
				<li>
					<a href="#article-survivant">Gabriel, course pour ses anges</a>
				</li>
				<li>
					<a href="#article-boucher">Le boucher de Hongkong</a>
				</li>
			</ul>
		</nav>
	</aside>

	<main>
		<div class="scrollance">

			<article id="home">
				<h3>
					#Sortiedecrise
					<span>Ces prochaines semaines, Le Temps veut proposer un journalisme positif et sérieux sur des initiatives crédibles. Le but: dépasser le constat d’un problème pour écrire sur les moyens qui peuvent lui être apportés.</span>
				</h3>
				<a href="#article-sortiedecrise">
					<span class="scrolldown">
						<span class="scrolldown-txt">Commencer</span>
						<img src="img/scrolldown.svg">
					</span>
				</a>
			</article>

			<a href="https://www.letemps.ch/societe/sortiedecrise-temps-ouvre-une-page-journalisme-solutions" target="_blank">
				<article id="article-sortiedecrise" class="cbot">
					<figure style="background-image: url('img/sortiedecrise.jpg');">
						<div class="overlay"></div>
					</figure>
					<h2>
						Avec #sortiedecrise, «Le Temps» ouvre une page de journalisme de solutions
					</h2>
				</article>
			</a>

			<a href="https://www.letemps.ch/sport/un-air-dhimalaya" target="_blank">
				<article id="article-hymalaya" class="halfleft">
					<div class="txt light">
						<h2>
							Wild Yak Expedition, comme un air d'Himalaya
						</h2>
					</div>
					<figure style="background-image: url('img/hymalaya-mobile.jpg');">
					</figure>
				</article>
			</a>

			<a href="https://www.letemps.ch/monde/laubergine-resilience" target="_blank">
				<article id="article-aubergine" class="right">
					<figure style="background-image: url('img/aubergine.jpg');">
						{# <div class="overlay"></div> #}
					</figure>
					<h2>
						Dans le désert israélien du Néguev, l’aubergine de la résilience
					</h2>
				</article> 
			</a>

			

			

			<a href="https://www.letemps.ch/monde/elever-escargots-survivre-coronavirus" target="_blank">
				<article id="article-escargots" class="halfright">
					<figure style="background-image: url('img/escargots.jpeg');">
					</figure>
					<div class="txt dark">
						<h2>
							Elever des escargots pour survivre au coronavirus
						</h2>
					</div>
				</article>
			</a>

			<a href="https://www.letemps.ch/monde/un-survivant-covid-court-anges-gardiens" target="_blank">
				<article id="article-survivant" class="right">
					<figure style="background-image: url('img/survivant.jpg');">
						{# <div class="overlay"></div> #}
					</figure>
					<h2>
						Un survivant du covid court pour ses «anges gardiens»
					</h2>
				</article> 
			</a>

			<a href="https://www.letemps.ch/monde/hongkong-boucher-nourri-une-ile-pendant-crise" target="_blank">
				<article id="article-boucher" class="cbot">
					<figure style="background-image: url('img/boucher.jpeg');">
						{# <div class="overlay"></div> #}
					</figure>
					<h2>
						A Hongkong, le boucher qui a nourri une île pendant la crise
					</h2>
				</article>
			</a>



			{# <a href="">
				<article id="article-train" class="articleun cbot">
					<figure style="background-image: url('img/train.jpg');">
						<div class="overlay"></div>
					</figure>
					<h2>
						The pandemic closed borders, halted air travel and emptied destinations of tourists. Here's how six places have adapted.
					</h2>
				</article>
			</a>

			<a href="">
				<article id="article-plage" class="articledeux left">
					<figure style="background-image: url('img/plage.jpg');">
						<div class="overlay"></div>
					</figure>
					<h2>
						The pandemic closed borders, halted air travel and emptied destinations of tourists. Here's how six places have adapted.
					</h2>
				</article> 
			</a>

			<a href="">
				<article id="article-fox" class="articleun right">
					<figure style="background-image: url('img/fox.jpg');">
						<div class="overlay"></div>
					</figure>
					<h2>
						The pandemic closed borders, halted air travel and emptied destinations of tourists. Here's how six places have adapted.
					</h2>
				</article>
			</a>

			<a href="">
				<article id="article-portrait1" class="articleun halfright">
					<figure style="background-image: url('img/portrait.jpg');">
					</figure>
					<div class="txt dark">
						<h2>
							The pandemic closed borders, halted air travel and emptied destinations of tourists. Here's how six places have adapted.
						</h2>
					</div>
				</article>
			</a>

			<a href="">
				<article id="article-portrait2" class="articleun halfleft">
					<div class="txt light">
						<h2>
							The pandemic closed borders, halted air travel and emptied destinations of tourists. Here's how six places have adapted.
						</h2>
					</div>
					<figure style="background-image: url('img/portrait.jpg');">
					</figure>
				</article>
			</a> #}


			

		</div>
	</main>





<header>
{# <div class="header__content">
	<div class="header__content__container">
		<div class="header__content__container__box">
			<h2>Les superbactéries, nouvelles bêtes noires des hôpitaux</h2>
			<h2 class="author">Une enquête de <span>Marie Maurisse</span> et <span>Karine Pfenniger</span></h2>
			<h2 class="social" >
				<a target="blank" href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button"><i class="fa fa-facebook"></i></a>
				<a target="blank" href="https://twitter.com/intent/tweet?text={{ description ~ ' ' ~ app.url ~ ' '|url_encode }}&via=letemps"><i class="fa fa-twitter fa-middle"></i></a>
				<a target="blank" href="https://www.linkedin.com/shareArticle?url={{ app.url }}&mini=true&title={{ title|url_encode }}&summary={{ description|url_encode }}&source={{ 'Le Temps'|url_encode }}"><i class="fa fa-linkedin"></i></a>
			</h2>
		</div>
	</div>
</div> #}
</header>





{{ block('contrib_bloc') }}


<footer>
	
</footer>

{{ block('footer_brand') }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script> #}
{# <script src="js/jquery.lazyload.js?v=1.9.7"></script> #}
{# <script src="js/intro-control.js"></script> #}
{# <script src="js/viewport.js"></script> #}
<!--<script src="js/timeline-control.js"></script>-->
<script src="js/main.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js"></script>

<script src="js/anchors.js"></script>
{# <script src="js/main2.js"></script> #}
{# <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> #}

<!--<script src="js/video-control.js"></script>-->

<!--<script src="js/hero-control.js"></script>-->

{# <script src="js/zoom.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script> #}
{# <script src="js/jquery.counterup.min.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script> #}
</body>
</html>
